.App {
  width: 100vw;
  display:flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  background: #F2F2F2;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.logo {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.classroom {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #34608F;
}
.teacher {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: #34608F;
}



.load-btn {
  width: 80%;
  height: 35px;
  border: solid 1px #0597F2;
  border-radius: 5px;
  background: none;
  color: #0597F2;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  transition: .15s ease;
}
.load-btn:hover {
  background: #0597F2;
  border: solid 1px #0597F2;
  color: white;
}
.load-btn:active {
  border: solid 1px #34608F;
}

.reset-btn {
  width: 80%;
  height: 35px;
  border: solid 1px #FF5C5C;
  border-radius: 5px;
  background: none;
  color: #FF5C5C;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  transition: .15s ease;
}
.reset-btn:hover {
  background: #FF5C5C;
  color: white;
}
.reset-btn:active {
  border: solid 1px #34608F;
}

.clear-btn {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  background: #DFDFDF;
  color: #AAAAAA;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: .15s ease;
}
.clear-btn:hover {
  background: #D0D0D0;
  color: #919191;
}
.clear-btn:active {
  border: solid 1px white;
}

.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000030;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.add-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 260px;
  outline: none;
  box-shadow: 0px 0px 20px;
  border-radius: 8px;
}
.add-modal-body {
  background: #34608F;
  width: 360px;
  height: 220px;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  color: white;
}
.add-modal-body h2 {
  margin: 0;
}
.add-modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.input {
  width: 97%;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 10pt;
}
.add-btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #0597F2;
  color: white;
  font-size: 10pt;
  border-radius: 4px;

}

.sidebar-buttons {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}